DATABASE_URL=
BREVO_API_KEY=
BREVO_SENDER_EMAIL=
BREVO_SENDER_NAME=involvepro
CONTACT_TO_EMAIL=support@involvepro.com
NEXTAUTH_SECRET=
NEXTAUTH_URL=https://involvepro.com
ADMIN_EMAIL=
ADMIN_PASSWORD_HASH=
