RESEND_API_KEY=
CONTACT_TO_EMAIL=support@involvepro.com
CONTACT_FROM_EMAIL=

# Admin/CMS (Phase 7A)
DATABASE_URL=
NEXTAUTH_SECRET=
NEXTAUTH_URL=http://localhost:3000
ADMIN_EMAIL=
ADMIN_PASSWORD_HASH=
